.compare {
    font-size: 40px;
}
.percentLabel, .segmentLabel, .compare, .total, .totalNumber {
    fill: #181818;
}
.percentLabel, .compare {
    font-family: Roboto, Inter,sans-serif;
    font-weight: 500;
}
.total, .totalNumber {
    font-size: 27px;
}
.total {
    font-family: Roboto, Inter,sans-serif;
}
.segmentLabel, .youText, .totalNumber {
    font-family: Roboto, Inter,sans-serif;
    font-weight: 700;
}
.percentLabel, .youText {
    font-size: 31px;
}
.segmentLabel {
    font-size: 10px;
}
.youText {
    fill: #e82625;
}
.youLine {
    fill: none;
    stroke: #e82625;
    stroke-width: 4px;
    stroke-dasharray: 4;
}